body{
    font-family: Arial;
}
.main{
    background:  #008ca5;
    float:left;
    width:100%;
    padding : 50px 0;
    min-height: 100%;
}

.container{
    background:#CBEEF4;
    border-radius: 10px;
    box-shadow:15px 20px 0px
    rgba(0,0,0,0.1);
    width: 110%;
    min-height: 100%;
    padding: 2%;
}

tr:nth-child(even) {
    background: #CBEEF4;
    color: #008ca5;
}
tr:nth-child(odd) {
    background: #008ca5;
    color: #CBEEF4;
}

tr:nth-child(even) a{
    color: #008ca5;
}

tr:nth-child(odd) a{
    color: #CBEEF4;
}

.firstTR{
    background-color: #bf4031;
}

p{
    font-size: 30pt;
    padding-left: 2%;
}

.nav-item{
    height: 3%;
    background-color: #008ca5;
}
.login{
    margin-left: 85%;
    margin-top: -45px;
    height: 45px;
    width:130px;
    border-radius: 20px;
    color: white;
    background-color: #bf4031;
    border-color: white;
    border-width: 1.5px;
    font-size: 12pt;
}
.nav-item button{
    margin-left: 70%;
    margin-top: 10px;
    height: 45px;
    width:130px;
    border-radius: 20px;
    color: white;
    background-color: #bf4031;
    border-color: white;
    border-width: 1.5px;
    font-size: 12pt;
}

div.dropdown-menu{
    margin-left: 65%;
    width: 250px;
    font-size: 12pt;
    padding: 1%;
    padding-left: 2%;
    margin-top: 3%;

}

.inp{
    width: 23%;
    height: 47px;
    color: #bf4031;
    padding:1%;
}

tr:nth-child(even) select{
    background-color: #CBEEF4;
    border-color: #CBEEF4;
    color: #008ca5;
}

tr:nth-child(odd) select{
    border-color: #008ca5;
    background-color: #008ca5;
    color: #CBEEF4;
}

.errors{
    font-size: 14pt;
    color: red;
}

.input{
    width: 200px;
    height: 40px;
    color: #bf4031;
    padding:1%;
    background-color: white;
    font-size: 14pt;
    background-color: #CBEEF4;
}

.formSearch{
    margin-top: -5%;
    margin-left: 27%;
}

label{
    color: #bf4031;
    font-size: 14pt;
}